// PRIMARY COLORS
$color-primary: #A01D26;
$color-primary-light: #c2232e;
$color-primary-dark: #6c141a;

// SECONDARY COLORS
$color-ink: #20232A;
$color-aluminum: #ACBEBE;
$color-paper: #F4F4EF;

// GREY-SCALE COLORS
$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-grey-dark-2: #333;
$color-white: #fff;
$color-black: #000;

// BRONZE COLORS
$color-bronze: #cd7f32;
$color-bronze-light: #cd8c32;
$color-bronze-dark: #cd7232;

// SILVER COLORS
$color-silver: #bdbdbd;
$color-silver-light: #c0c0c0;
$color-silver-dark: #a7a7a7;

// GOLD COLORS
$color-gold: #ffc200;
$color-gold-light: #ffd700;
$color-gold-dark: #ffad00;


// FONT
$default-font-size: 1.6rem;

// GRID LAYOUT
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
